<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

  <form action="buttonAdd" method="get">
    <button type="submit" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Thêm nhân viên
    </button>
  </form>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Ten</th>
        <th scope="col">Dia chi</th>
        <th scope="col">Luong</th>
      </tr>
    </thead>
    <tbody>
      {{#each nvList}}
      <tr>
        <th scope="row">{{@index}}</th>
        <td>{{ten}}</td>
        <td>{{diachi}}</td>
        <td>{{luong}}</td>
        <td>
          <form action="updateNV" method="get">
            <button name="editId" type="submit" value={{_id}}>
              Sửa
            </button>
          </form>

          <form method="get" action="deleteNV">
            <button name="idNV" value={{_id}} type="submit">
              Xóa</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>

</html>